.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #d3cbd9;
}

.header__phone {
    text-align: right;
}

.header__phone-text {
    margin-bottom: 8px;
}

.header__phone-link {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: #2c332f;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.header__phone-link:hover {
    opacity: 0.3;
}
