.footer {
    padding-bottom: 40px;
    padding-top: 60px;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(73, 169, 255, 0.2)),
        to(rgba(252, 124, 217, 0.2))
    );
    background: -o-linear-gradient(
        left,
        rgba(73, 169, 255, 0.2) 0%,
        rgba(252, 124, 217, 0.2) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(73, 169, 255, 0.2) 0%,
        rgba(252, 124, 217, 0.2) 100%
    );
    text-align: center;
    margin-top: auto;
}

.footer__main {
    border-bottom: 1px solid #d3cbd9;
}

.footer__nav {
    padding: 40px 0;
}

.footer__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 60px;
}

.footer__nav a {
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.footer__nav a:hover {
    opacity: 0.4;
}

.footer__copyright {
    padding-top: 40px;
}

.footer__copyright p {
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #858e8a;
}

/* 1200px, 992px, 768px, 576px, 375px,       320px */

@media (width <= 768px) {
    .footer__nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 25px;
    }
}

@media (max-width <= 576px) {
    .footer {
        padding-top: 40px;
    }
}
