.characteristics__video {
  position: relative;
}

@media (width > 576px) {
  .characteristics__video {
    margin-bottom: 60px;
  }
}

@media (width <= 576px) {
  .characteristics__video {
    margin-bottom: 60px;
  }
}

.characteristics__video-preview {
  border: 1px solid var(--main-color);
  border-radius: 12px;
  overflow: hidden;
}

.characteristics__video-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bg-overlay-color);
  border: 1px solid var(--main-color);
  box-shadow:
    var(--shadow-glow),
    inset var(--shadow-glow);
  transform: translate(-50%, -50%);
  transition:
    border-color var(--transition-time),
    border-shadow var(--transition-time);
}

@media (any-hover: hover) {
  .characteristics__video-play-btn:hover {
    border-color: var(--accent-color);
    box-shadow:
      var(--shadow-accent-glow),
      inset var(--shadow-accent-glow);
  }
}

@media (width > 576px) {
  .characteristics__video-play-btn {
    width: 80px;
    height: 80px;
  }
}

@media (width <= 576px) {
  .characteristics__video-play-btn {
    width: 48px;
    height: 48px;
  }
}

.characteristics__video-play-icon {
  transform: translateX(20%);
}

@media (width > 576px) {
  .characteristics__video-play-icon {
    width: 17px;
    height: 23px;
  }
}

@media (width <= 576px) {
  .characteristics__video-play-icon {
    width: 10px;
    height: 12px;
  }
}

.characteristics__list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  gap: 40px 20px;
}

.characteristics__card-icon {
  margin-bottom: 4px;
  transform: translateX(-8px)
}

@media (width > 576px) {
  .characteristics__card-icon{
    width: 56px;
    height: 56px;
  }
}

@media (width < 576px) {
  .characteristics__card-icon{
    width: 49px;
    height: 49px;
  }
}

.characteristics__card-title{
  margin-bottom: 20px;
}

.characteristics__card-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 140%;
}
