table{
    border-spacing: 0;
    border-collapse: collapse;
    font-family: sans-serif;
}

th, td, caption {
    border: 1px solid black;
}

caption {
    border-bottom: none;
    font-weight: bold;
}

.weekend {
    color: red;
}
