@media (width > 576px) {
  .air-mag {
    padding-bottom: 93px;
  }
  
  .air-mag__title {
    margin-bottom: 10px;
  }
}

@media (width <= 576px) {
  .air-mag {
    padding-bottom: 80px;
  }
  
  .air-mag__title {
    margin-bottom: 20px;
  }
}

.air-mag__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.air-mag__description::before {
  content: "";
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 131px;
  height: 40px;
  background: url(../../icons/rectangle-icon.svg);
  -webkit-transform: translateX(-13px);
      -ms-transform: translateX(-13px);
          transform: translateX(-13px);
}

@media (width > 992px) {
  .air-mag__description {
    margin-bottom: 20px;
  }
}

@media (width <= 992px) {
  .air-mag__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
  }
}

.air-mag__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

@media (width > 992px) {
  .air-mag__info-wrapper {
    gap: 40px;
  }
}

@media (width <= 992px) {
  .air-mag__info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
}

.air-mag__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.air-mag__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (width > 992px) {
  .air-mag__list {
    gap: 40px;
    max-width: 293px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-transform: translateY(97px);
        -ms-transform: translateY(97px);
            transform: translateY(97px);
  }
}

@media (width <= 992px) {
  .air-mag__list {
    gap: 20px;
    max-width: 700px;
  }
}

.air-mag__item::before {
  content: "";
  display: block;
  width: 45px;
  height: 33px;
  margin-bottom: 5px;
  background-image: url(../../icons/double-check-icon.svg);
  -webkit-transform: translateX(-6px);
      -ms-transform: translateX(-6px);
          transform: translateX(-6px);
}