.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-block: 32px;
    background-color: var(--bg-color);
    -webkit-transition: -webkit-box-shadow var(--transition-time);
    transition: -webkit-box-shadow var(--transition-time);
    -o-transition: box-shadow var(--transition-time);
    transition: box-shadow var(--transition-time);
    transition: box-shadow var(--transition-time), -webkit-box-shadow var(--transition-time);
    border-color: var(--bg-color);
    z-index: var(--layer-2);
}

.header--fixed {
    -webkit-box-shadow: 0 0 20px 0 var(--shadow-color);
            box-shadow: 0 0 20px 0 var(--shadow-color);
    overflow-y: hidden;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media (width > 768px) {
    .header__menu {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
    }

    .header__logo {
        /* min-width:992px, max-width:1440px */
        margin-right: clamp(25px, -11.585rem + 21.21vw, 120px);
    }
}

@media (width <= 768px) {
    .header__menu {
        position: fixed;
        right: -100vw;
        top: 0;
        bottom: 0;
        z-index: var(--layer-2);
        min-width: 297px;
        padding: 144px 15px 20px 0;
        background-color: var(--bg-color);
        -webkit-box-shadow: 0 0 20px var(--shadow-color);
                box-shadow: 0 0 20px var(--shadow-color);
        overflow-y: auto;
        opacity: 0;
        visibility: hidden;
        -webkit-transition:
            right var(--transition-time),
            opacity var(--transition-time),
            visibility var(--transition-time);
        -o-transition:
            right var(--transition-time),
            opacity var(--transition-time),
            visibility var(--transition-time);
        transition:
            right var(--transition-time),
            opacity var(--transition-time),
            visibility var(--transition-time);
    }

    .header__menu--open {
        right: 0;
        opacity: 1;
        visibility: visible;
    }

    .header__menu .menu__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        text-align: end;
        gap: 20px;
    }
}

@media (width <= 768px) and (height <= 380px) {
    .header__menu {
        padding-top: 110px;
    }
}

.header__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (width > 992px) {
    .header__actions {
        gap: 60px;
    }
}

@media (width <= 992px) {
    .header__actions {
        gap: 30px;
    }
}

.header__actions-link {
    position: relative;
    padding-bottom: 5px;
    font-weight: 400;
    line-height: 130%;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

@media (any-hover: hover) {
    .header__actions-link:hover::before {
        opacity: 1;
        visibility: visible;
    }
}

.header__actions-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
    width: 90%;
    min-height: 11px;
    background-color: var(--accent-color);
    border-radius: 50%;
    -webkit-filter: blur(25px);
            filter: blur(25px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition:
        opacity var(--transition-time),
        visibility var(--transition-time);
    -o-transition:
        opacity var(--transition-time),
        visibility var(--transition-time);
    transition:
        opacity var(--transition-time),
        visibility var(--transition-time);
}

.header__actions-tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (width > 768px) {
    .header__actions-tools {
        gap: 20px;
    }
}

@media (width <= 768px) {
    .header__actions-tools {
        gap: 30px;
    }
}

.header__actions-tools-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 24px;
    height: 24px;
    color: var(--main-color);
    -webkit-transition: color var(--transition-time);
    -o-transition: color var(--transition-time);
    transition: color var(--transition-time);
}

@media (any-hover: hover) {
    .header__actions-tools-btn:hover {
        color: var(--accent-color);
    }
}

.header__actions-tools-btn:active {
    color: var(--accent-color);
}

.header__action-tools-icon {
    /* ссылается на свойство color у родителя (header__actions-tools-btn) */
    stroke: currentColor;
}