* {
    box-sizing: border-box;
}

/* 1200 768 */

body {
    min-width: 375px;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 1280px;
    gap: 20px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 1fr 250px;
    min-height: 100vh;
}

.header {
    grid-column: 12 span;
    background-color: rgb(224, 160, 160);
    min-height: 100px;
}

.aside {
    grid-column: 2 span;
    background-color: #ffff7b;
}

.main {
    grid-column: 10 span;
    background-color: #698d5f;
    padding-top: 30px;
    padding-bottom: 30px;
}

.article {
    background-color: #fac695;
    min-height: 200px;
}

.articl:first-child {
    display: flex;
}

.footer {
    grid-column: 12 span;
    background-color: #788bee;
    min-height: 250px;
}

@media (width <= 1200px) {
    .aside {
        grid-column: 3 span;
    }

    .main {
        grid-column: 9 span;
    }
}

@media (width <= 768px) {
    .aside {
        display: none;
    }

    .main {
        grid-column: 12 span;
    }
}
