html {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

body * {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.article {
    padding-top: 80px;
    padding-bottom: 120px;
}

.article__title {
    max-width: 596px;
    margin-bottom: 40px;
    font-family: "Oswald";
    font-weight: 600;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.article__main-title {
    font-size: 48px;
}

.article__secondary-title {
    font-size: 36px;
}

.article__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article__text-margin {
    margin: 40px 0 0 0;
}

.article__mb {
    margin-bottom: 80px;
}

.article__img {
    width: 100%;
    max-height: 512px;
}

.article__list {
    padding-left: 15px;
}

.article__item {
    margin-bottom: 12px;
    list-style: none;
    display: flex;
    align-items: center;
}

.article__decor-wrapper{
    position: relative;
}

.article__play-button {
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #3596ED;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.article__video {
    width: 100%;
}

.article__item::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3596ED;
    transform: translateX(-16px);
}

.article__decor-wrapper::before {
    content: "";
    background: url(../images/decor-backround.svg);
    position: absolute;
    z-index: -1;
    width: 528px;
    height: 48px;
}

.article__decor-wrapper-1::before {
    transform: translate(-350px, 100px);
}

.article__decor-wrapper-2::before {
    transform: translate( 1042px, 328px);

}

