@font-face {
    font-family: "Oswald";
    src: local("Oswald"), url(../fonts/oswald/Oswald-Medium.woff2) format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: local("Oswald"), url(../fonts/oswald/Oswald-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), url(../fonts/ubuntu/Ubuntu-Light.woff2) format("woff2");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), url(../fonts/ubuntu/Ubuntu-Regular.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), url(../fonts/ubuntu/Ubuntu-Medium.woff2) format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}